{% extends "_focus.html" %}

{% block pagename %}kata{% endblock %}
{% block canonicalUrl %}https://{{ site.domain }}{{ kataData.absolutePath }}{% endblock %}
{% block metaDescription %}A kata to (re-)learn about {{ kataData.groupName }} | {{ kataData.name }} | {{ kataData.description }}{% if kataData.stats.numTests %} | {{ kataData.stats.numTests }} tests to solve{% endif %}{% if kataData.level and kataData.level !== 'TBD' %} | Difficulty Level: {{ kataData.level }}{% endif %}{% endblock %}
{% block metaKeywords %}{% for item in breadCrumbs.slice(1) %}{{ item.title }}, {% endfor %}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/katas/kata.css" type="text/css">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": ["Article", "LearningResource"],
      "name": "{{ kataData.groupName }} – {{ kataData.name }}",
      "headline": "{{ page.headline }}",
      "description": "{{ kataData.description }}",
      "learningResourceType": "Kata",
      "educationalLevel": "{{ kataData.level }}",
      {% if requiredKnowledgeKatas.length %}
        "competencyRequired": [
          {% for kata in requiredKnowledgeKatas %}
            "{{ kata.groupName }}: {{ kata.name }}"{% if not loop.last %},{% endif %}
          {% endfor %}      
        ],
      {% endif %}      
      "contentUrl": "https://{{ site.domain }}{{ kataData.absolutePath }}",
      "datePublished": "{{ kataData.readableCreatedAt }}",
      "author": {"@type": "Person", "name": "Wolfram Kriesing"}
    }
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.24.1/ace.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.24.1/ext-language_tools.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.24.1/mode-javascript.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assert.js" type="text/javascript" charset="utf-8"></script> 
  <script src="/components/test-editor.js" ></script>
  <script defer data-domain="{{ site.domain }}" src="https://plausible.io/js/script.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
{% endblock %}

{% block beforeMain %}
  <nav class="breadcrumb">
    {% if breadCrumbs | length > 0 %}
      <ul>
        {% for item in breadCrumbs.slice(0, -1) %}
          {% if item.url %}
            <li><a href="{{ item.url }}">{{ item.title }}</a> &raquo;</li>
          {% else %}
            <li>{{ item.title }} &raquo;</li>
          {% endif %}
        {% endfor %}
        <li>{{ (breadCrumbs | last).title }}</li>
      </ul>
    {% endif %}
  </nav>

  <h1>{{ page.headlineAsHtml | safe }}</h1>
  <p>
    {{ page.abstractAsHtml | safe }}
  </p>

{% endblock %}

{% block main %}
  <script type="module">
    import {Tracking} from '/Tracking.js';
    import {PageConfig} from '/PageConfig.js';
    
    //
    // Page Config
    //
    const isOn = (configName) => {
      if (configName === 'autoOpenFirstKata') return pageConfig.isAutoOpenFirstKataOn;
      if (configName === 'autoOpenNextKata') return pageConfig.isAutoOpenNextKataOn;
      return false;
    }
    const set = (key, value) => {
      if (key === 'autoOpenFirstKata') pageConfig.isAutoOpenFirstKataOn = value;
      if (key === 'autoOpenNextKata') pageConfig.isAutoOpenNextKataOn = value;
    }
    
    const pageConfig = new PageConfig({storage: localStorage});
    document.addEventListener('DOMContentLoaded', () => {
      const $pageConfigCheckboxes = document.querySelectorAll('.page-config input[type=checkbox]');
      $pageConfigCheckboxes.forEach((el) => {
        el.checked = isOn(el.dataset.configName)
        el.addEventListener('change', (event) => {
          const $checkbox = event.target;
          const configName = $checkbox.dataset.configName;
          set(configName, $checkbox.checked);
        });
      });
    });
    
    //
    // ...
    //
    let didConfettiShow = false;
    const showConfettiOnceWhenAllTestsPass = () => {
      const allTestsPassed = tests.every((test) => test.passed);
      if (allTestsPassed && false === didConfettiShow) {
        import('/components/confetti.js');
        document.body.append(document.createElement('jskatas-confetti'));
        didConfettiShow = true;
      }
    };
    
    const openAndFocusNextTest = (testIndex) => {
      if (pageConfig.isAutoOpenNextKataOn === false) {
        return;
      }
      
      const $detailsNodes = document.querySelectorAll('details.test');
      const $nextTest = $detailsNodes?.[testIndex + 1];
      if (!$nextTest) {
        return;
      }
      handleKataClick($nextTest, undefined, {forceFocus: true});
      $nextTest.open = true;
      setTimeout(() => {
        $nextTest.scrollIntoView({behavior: 'smooth', block: 'center'});
      }, 1000);
    };
    
    const tracking = new Tracking({track: plausible});
    const tests = [];

    const markTestAsPassed = (testIndex) => {
      tests[testIndex].passed = true;
      tracking.trackTestProgress(tests);
      setTimeout(() => {
        showConfettiOnceWhenAllTestsPass();
        openAndFocusNextTest(testIndex);
      }, 1000);
    }
    const markTestAsFailed = (testIndex) => {
      tests[testIndex].passed = false;
      tracking.trackTestProgress(tests);
    }
    
    /**
     * @param event {Event}
     */
    const onKataClick = (event) => {
      const $clickedNode = event.target;
      const $detailsNode = $clickedNode.closest('details');
      if (!$detailsNode) {
        console.error('Could not find the details node for the click event');
        return;
      }
      handleKataClick($detailsNode, $clickedNode);
    }

    const initTheKataEditor = (editor, $detailsNode) => {
      editor.loadCodeAndFocus();
      const testIndex = Number($detailsNode.dataset.testIndex);
      const $summary = $detailsNode.querySelector('summary');
      
      const onTestCodeChange = (testIndex) => (event) => {
        const testPassed = event.detail?.testPassed;
        if (testPassed) {
          markTestAsPassed(testIndex);
          $summary.classList.add('test-passed');
        } else {
          markTestAsFailed(testIndex);
          $summary.classList.remove('test-passed');
        }
      };
      
      editor.addEventListener('change', onTestCodeChange(testIndex));
    };

    const loadedKataEditors = new Map();
    const handleKataClick = ($detailsNode, $clickedNode = undefined, options = {forceFocus: false}) => {
      const editor = $detailsNode.querySelector('jskatas-test-editor');
      
      if (options.forceFocus) {
        editor.focus();
      }
      if (String($clickedNode?.tagName).toLowerCase() === 'jskatas-test-editor') {
        editor.focus();
        return;
      }

      // If the <details> is open just close it.
      if ($detailsNode.open) {
        if ($detailsNode?.tagName === 'SUMMARY') {
          editor.blur();
        }
        return;
      }

      if (loadedKataEditors.has($detailsNode)) {
        editor.delayedFocus();
        return;
      }
      initTheKataEditor(editor, $detailsNode);
      loadedKataEditors.set($detailsNode, true);
    }
    
    const openAndFocusFirstKata = () => {
      const $firstKata = document.querySelector('details');
      setTimeout(() => {
        handleKataClick($firstKata, undefined, {forceFocus: true});
        $firstKata.open = true;
      }, 100);
    }
    
    // open first kata when the site is loaded and done rendering, delay it by 1 sec
    document.addEventListener('DOMContentLoaded', () => {
      if (pageConfig.isAutoOpenFirstKataOn) {
        setTimeout(openAndFocusFirstKata, 1000);
      }
      
      const $detailsNodes = document.querySelectorAll('details.test');
      $detailsNodes.forEach(($detailsNode) => {
        $detailsNode.addEventListener('click', onKataClick);
        tests.push({passed: false});
      });
      
      document.querySelector('.huge-link-as-button').addEventListener('click', openAndFocusFirstKata);
    });
    
  </script>
  <style>
    details[open] .content-wrapper {
      max-height: 100vh;
      transition: max-height 2s ease-in;
    }
    
    .content-wrapper {
      max-height: 0;
      overflow: hidden;
      transition: max-height 2s ease-in;
      margin-left: var(--spacing-medium); 
      padding: var(--spacing-medium) 0;
    }
    
    summary::marker {
      color: red;
    }
    summary.test-passed::marker {
      color: green;
    }
  </style>

  {% for suite in page.tests.suites %}
    <h2>{{ suite.name | mdToHtml | safe }}</h2>

    {% set testIndex = -1 %}
    <section>
      {% for test in suite.tests %}
        {% set testIndex = testIndex + 1 %}
        <details class="test" data-test-index="{{ testIndex }}">
          <summary>{{ test.name | mdToHtml | safe }}</summary>
          <section class="content-wrapper">
            <jskatas-test-editor><!-- htmlmin:ignore -->{{ test.sourceCode }}<!-- htmlmin:ignore --></jskatas-test-editor>
          </section>
        </details>
      {% endfor %}
    </section>

    {% for suite in suite.suites %}
      <h3>{{ suite.name | mdToHtml | safe }}</h3>
      
      <section>
        {% for test in suite.tests %}
          {% set testIndex = testIndex + 1 %}
          <details class="test" data-test-index="{{ testIndex }}">
            <summary>{{ test.name | mdToHtml | safe }}</summary>
            <section class="content-wrapper">
              <jskatas-test-editor><!-- htmlmin:ignore -->{{ test.sourceCode }}<!-- htmlmin:ignore --></jskatas-test-editor>
            </section>
          </details>
        {% endfor %}
      </section>

      {% for suite in suite.suites %}
        <h4>{{ suite.name | mdToHtml | safe }}</h4>
        
        <section>
          {% for test in suite.tests %}
            {% set testIndex = testIndex + 1 %}
            <details class="test" data-test-index="{{ testIndex }}">
              <summary>{{ test.name | mdToHtml | safe }}</summary>
              <section class="content-wrapper">
                <jskatas-test-editor><!-- htmlmin:ignore -->{{ test.sourceCode }}<!-- htmlmin:ignore --></jskatas-test-editor>
              </section>
            </details>
          {% endfor %}
        </section>
      
      {% endfor %}
    {% endfor %}
  {% endfor %}

  {% if kataData.links.length %}
    <h2>Links</h2>
    <p>
      {% for link in kataData.links %}
        {% for tag in link.tags %}
          <span class="metadata tag">{{ tag }}</span>
        {% endfor %}

        <a href="{{ link.url }}">{{ link.comment }}</a>
        <br/>
      {% endfor %}
    </p>
  {% endif %}

  {% if requiredKnowledgeKatas.length %}
    <h2>Required Knowledge</h2>
    <ul>
      {% for kata in requiredKnowledgeKatas %}
        <li>
          <a href="{{ kata.absolutePath }}">{{ kata.name }}</a> ({{ kata.groupName }})
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  
  {% if alikeKataGroups.length %}
    <h2>Related Katas</h2>  
    {% for kataGroup in alikeKataGroups %}
        <h3>{{ kataGroup[0].groupName }}</h3>
        <ul>
          {% for kata in kataGroup %}
            {% if kata.name === kataData.name %}
              <li class="this-kata">{{ kata.name | mdToHtml | safe }}</li>
            {% else %}
              <li><a href="{{ kata.absolutePath }}">{{ kata.name | mdToHtml | safe }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
    {% endfor %}
  {% endif %}

  <h2>Difficulty Level</h2>
  <p>{{ kataData.level }}</p>
  
  {% if kataData.readableCreatedAt %}
    <h2>First Published</h2>
    <p data-nosnippet>{{ kataData.readableCreatedAt }}</p>
  {% endif %}
  
  {% if kataData.stats.numTests %}
    <h2>Stats</h2>
    <p>{{ kataData.stats.numTests }} tests to solve</p>
  {% endif %}
  

{% endblock %}

{% block sidebar %}
  <aside class="box-sidebar-container">
    <aside class="box-sidebar">
      <h2>How does it work?</h2>
      <ul>
        <li>Open one test (if it didn't auto-open yet)</li>
        <li>Read the description above the code</li>
        <li>Make the tests pass</li>
        <li>{{ "Do **not change the `assert`** line(s)" | mdToHtml | safe }}</li>
        <li>Move on to the next test</li>
      </ul>
      <button class="huge-link-as-button">Solve this kata &#9658;️</button>
    </aside>
  </aside>

  <aside class="box-sidebar-container">
<!--    <aside class="box-sidebar">-->
<!--      <h2>Recommended next katas</h2>-->
<!--      <ul style="margin: 1rem">-->
<!--        <li><a href="">parseInt in depth</a>-->
<!--      </ul>-->
<!--    </aside>-->
    
    <aside class="box-sidebar">
      <h2>Settings</h2>
      <ul class="page-config">
        <li><input type="checkbox" id="config-auto-open" data-config-name="autoOpenFirstKata">
          <label for="config-auto-open">Open 1st test on page load?
            <span class="hint">Will have an effect when opening the next kata page.</span>
          </label>
        </li>
        <li><input type="checkbox" id="config-auto-open-next-test" data-config-name="autoOpenNextKata">
          <label for="config-auto-open-next-test">Open next test on green?
            <span class="hint">When turned on, the next test automatically opens when you made the test pass (on green). 
              And the next test is centered on the screen, so you can start working on it right away. 
            </span>
          </label></li>
      </ul>
    </aside>
  </aside>

  <style>
    .box-sidebar.katas ul {
      margin: 0;
    }
    .box-sidebar.katas li {
      list-style: none;
    }
    
    .box-sidebar .this-kata,
    .box-sidebar .this-kata * {
      color: var(--color-foreground-highlight);
    }
    
    .page-config {
      list-style: none;
      padding: 0;
      margin-left: 0;
    }
    .page-config li {
      display: flex;
      align-items: flex-start;
      margin-bottom: var(--spacing-small);
    }
    .page-config li > * {
      padding-left: var(--spacing-small);
    }
    .page-config .hint {
      display: block;
      font-size: var(--font-size-smaller);
      color: var(--color-foreground-2nd);
    }
  </style>
{% endblock %}
