{% extends "katas/_list.html" %}

{% block canonicalUrl %}https://{{site.domain}}/katas/versions/{{subfilter}}/{% endblock %}
{% block pagename %}kata versions {{subfilter}}{% endblock %}
{% block metaDescription %}{{ site.title }} | Katas listed by {{ subfilter }} JS versions{% endblock %}

{% block subnavigation %}
  <nav class="katas sublevel">
    <a href="/katas/versions/chronological/" class="chronological plausible-event-name=Click+Subgroup">chronological</a>
    <a href="/katas/versions/popular/" class="popular plausible-event-name=Click+Subgroup">popular</a>
  </nav>
{% endblock %}

{% block main %}
  {% for bundle in kataBundles %}
    <h2>
      <a href="#bundle-{{ bundle.nameSlug }}" title="{{ bundle.name }}" id="bundle-{{ bundle.nameSlug }}">{{ bundle.name }}</a>
      <span class="stats">{{ bundle.katas | length }} katas</span>
    </h2>

    {% for group in bundle.kataGroups %}
      <div class="group ">
        <h3>{{ group[0].groupName }} <span style="color: var(--color-foreground-highlight-2nd)">{{ group|length + group.blogPosts|length }}</span></h3>
        {% for kata in group %}
          <div class="kata">
            <a href="{{ kata.absolutePath }}">{{ kata.name | mdToHtml | safe }}</a>
            {% if kata.level === 'BEGINNER' %}
              <span class="notification-bubble easy">#easy</span>
            {% endif %}
            {% if kata.isNew %}
              <span class="notification-bubble new">#new</span>
            {% elif kata.isPublished === false %}
              <span class="notification-bubble unpublished">#in progress</span>
            {% endif %}
          </div>
        {% endfor %}
        {% for post in group.blogPosts %}
          <div class="kata">
            📕&nbsp;<a href="{{ post.url }}">{{post.title}}</a>
          </div>
        {% endfor %}
      </div>
    {% endfor %}

  {% endfor %}
{% endblock %}
