{% macro articlePreview(post) %}
  <article class="preview {{ 'isDraft' if post.isDraft else '' }}" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h2 id="{{post.slug}}" is="more-h2" show-link-on-mouseover>
        <a href="{{post.url}}" itemprop="url">
        <span itemprop="name headline">{{post.headlineAsHtml | safe }}</span></a>
        {{' 📺' if post.hasVideo else ''}}
        {{' [this is a draft]' if post.isDraft else ''}}
      </h2>
      <div class="metadata">
        {{post.dateCreated | toReadableDate}}
        {% if post.tags.length > 0 %}
          - tagged with: {% for tag in post.tags %}#{{tag.value}} {% endfor %}
        {% endif %}
      </div>
    </header>
    <div>
      {% if post.previewImage %}
        <img src="{{ post.previewImageUrl }}" style="float: left; width: 10rem; height: 5rem; object-fit: cover; margin-right: 1rem;"/>
      {% endif %}
      <p class="abstract">{{post.abstractAsHtml | safe }}</p>
    </div>
  </article>
{% endmacro %}
