<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
  <script type="importmap">
    {
      "imports": {
        "assert": "/assert.js"
      }
    }
  </script>
  {% set canonicalUrl %}{% block canonicalUrl %}{% endblock %}{% endset %}
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="mobile-web-app-capable" content="yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Wolfram Kriesing">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% block metaDescription %}{% endblock %}">
  <meta content="javascript, learning, coding, kata, es6 katas, koans, training, practice, exercises, challenges, programming skills, code kata, tests, unit tests, course, {% block metaKeywords %}{% endblock %}" name="keywords">

  <link rel="preload" href="/_vars.css" as="style">
  <link rel="preload" href="/_reset.css" as="style">
  <link rel="preload" href="/_global.css" as="style">
  <link rel="preload" href="/_header.css" as="style">
  <link rel="preload" href="/katas/katas.css" as="style">
  
  <link rel="apple-touch-icon" href="/logo-180x180.png">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  
  {% block metaTwitter %}{% endblock %}

  {% block metaOpenGraph %}{% endblock %}

  <script defer data-domain="{{ site.domain }}" src="https://plausible.io/js/script.tagged-events.outbound-links.js"></script>
  <script defer data-domain="{{ site.domain }}" src="https://speedin.site/static/js/collect.js"></script>
  
  {% if canonicalUrl %}<link rel="canonical" href="{{ canonicalUrl }}">{% endif %}
  <title>{% block title %}{{ pageTitlePrefix|escape }} | {{ site.title }}{% endblock %}</title>

  {% block moreHtmlElements %}{% endblock %}
  {% block head %}{% endblock %}
</head>

<body class="page-{% block pagename %}{% endblock %}">
  {% block body %}{% endblock %}
</body>
</html>
