/**
 *
 *  Overriding standard HTML elements, such as <body>, <a>, <ul>, etc.
 *
 */

/* The reset */
a, article, aside,
body, blockquote,
code,
div,
figure, figcaption, footer,
header, html, h1, h2, h3, h4, h5, h6,
img,
kbd,
li,
main,
nav,
ol,
pre, p,
span,
td,
ul
{
  margin: 0;
  padding: 0;
}

/* Remove the default space that is always set on all cells. */
table {
  border-spacing: 0;
}