{% extends "_focus.html" %}

{% block canonicalUrl %}https://{{site.domain}}{% endblock %}
{% block pagename %}home{% endblock %}
{% block metaDescription %}{{site.domain}} | {{site.title}} | {{site.subtitle}}{% endblock %}
{% block title %}{{site.title}} | {{site.subtitle}}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/_global.css" type="text/css">
  <link rel="stylesheet" href="/_header.css" type="text/css">
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block beforeMain %}
<!--string.includes() determines if a string can be found inside another one -->
<!--finding a single character-->
<!--can be done (a character is also a string, in JS)-->
{% endblock %}

{% block main %}
  <section style="border: 1px solid lightgray">
    <h2 style="text-align: left">Rules</h2>
    <ul>
      <li>✅ First, make sure you understand the "what to do" (the text above the code)</li>
      <li>✅ Modify the code</li>
      <li>✅ Try as often as you like</li>
      <li>🚫 Do not change the `assert.*` line(s)</li>
    </ul>
  </section>

  <h1>Array API: array.sort() basics</h1>
  The sort() function sorts an array as if each element was a string.

  <h2>[].sort() sorts an array using each value as a string</h2>
  <ul>
    <li>is a function on the array prototype
  </ul>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.24.1/ace.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.24.1/ext-language_tools.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.24.1/mode-javascript.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assert.js" type="text/javascript" charset="utf-8"></script>

  <script src="/components/kata-editor.js" ></script>
  <kata-editor></kata-editor>

  <button onclick="setCode()">load kata</button>
  <button onclick="setCode1()">load kata1</button>
  <script>
    const setCode = () => {
      // Load the code from this url as text
      const kataId = 'es1/language/array-api/sort-basics';
      const kataDescription = 'is a function on the array prototype';
      
      // Set the text in the editor
      const editor = document.querySelector('kata-editor');
      editor.setCode(kataId, kataDescription);
    }
    const setCode1 = () => {
      // Load the code from this url as text
      const kataId = 'es1/language/array-api/sort-basics';
      const kataDescription = 'in alphabetical order';
      
      // Set the text in the editor
      const editor = document.querySelector('kata-editor');
      editor.setCode(kataId, kataDescription);
    }
  </script>

{% endblock %}
