{% extends "_focus.html" %}

{% block pagename %}runner-tests{% endblock %}
{% block canonicalUrl %}https://{{ site.domain }}/tests/runner.html{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/katas/kata.css" type="text/css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.24.1/ace.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.24.1/ext-language_tools.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.24.1/mode-javascript.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assert.js" type="text/javascript" charset="utf-8"></script> 
  <script src="/components/test-editor.js" ></script>
{% endblock %}

{% block main %}
  <h1>This page is for testing the test runner</h1>
  <p>
    Since the test runner is running a worker thread and the worker thread allows
    for a couple of options to be set, this page is made for using the test runner,
    which is running in a worker-thread which is in the &gt;jskatas-test-editor&lt; web-component.
  </p>

  <style>
    main {
      flex: 1;
    }
    main h2 {
      background-color: var(--color-background-2nd);
      padding: var(--spacing-small);
    }
    test-result {
      white-space: pre; 
      display: block; 
      overflow: scroll;
      max-height: 8em;
    }
    
    h2 + article {
      margin: 0;
    }
    article div {
      display: flex;
      gap: var(--spacing-medium);
      margin-left: var(--spacing-large); /* Align with how kata.css is styling siblings of the <h3> */
      max-height: 2.7rem;
    }
    article p {
      margin-bottom: 0;
      max-height: 0;
      overflow: hidden;
    }
    article:hover {
      border: 2px solid var(--color-foreground-main);
      padding: var(--spacing-medium) 0;
    }
    article:hover p,
    article:hover div {
      max-height: 1000px; /* Use a value larger than what the element's height would be */
      overflow: visible;
    }
    article div > * {
      flex: 1;
      overflow: hidden;
    }
    article div success {
      flex: 0;
      padding: var(--spacing-medium);
      background-color: var(--color-background-2nd);
      font-size: var(--font-size-large);
      overflow: visible;
      overflow-y: clip;
    }
  </style>

  <script>
    const expectations = [];
    const makeMessageReadable = (message) => {
      try {
        return JSON.stringify(JSON.parse(message), null, 4);
      } catch (e) {
        return message;
      }
    };

    const onTestCodeChange = ($test, expectation) => (event) => {
      const $result = $test.querySelector('test-result');
      const $success = $test.querySelector('success');
      const testPassed = event.detail?.testPassed;
      const message = makeMessageReadable(event?.detail?.message);
      if (testPassed) {
        $result.innerText = `passed\n${message}`;
      } else {
        $result.innerText = `failed\n${message}`;
      }
      if (expectation(testPassed, message)) {
        $success.innerText = '✅';
      } else {
        $success.innerText = '❌';
      }
    };
    
    document.addEventListener('DOMContentLoaded', () => {
      const tests = document.querySelectorAll('article');
      tests.forEach(($test, index) => {
        const editor = $test.querySelector('jskatas-test-editor');
        editor.loadCode({cleanMetaLine: false});
        editor.addEventListener('change', onTestCodeChange($test, expectations[index]));
        
        const $assertion = $test.querySelector('pre.assertion');
        const assertionLines = expectations[index].toString().split('\n').slice(1, -1);
        const numSpacesToRemove = assertionLines[0].length - assertionLines[0].trimStart().length;
        const maxSpacesRegex = new RegExp(`^ {1,${numSpacesToRemove}}`);
        $assertion.innerText = assertionLines.map(line => line.replace(maxSpacesRegex, '')).join('\n');
      });
    });    
  </script>




  <h2>Assertions</h2>
  <article>
    <h3>Simple pass</h3>
    <p>An assert that simply just passes.</p>
    <div>
      <success>⏳</success>
      <jskatas-test-editor><!-- htmlmin:ignore -->assert(true);<!-- htmlmin:ignore --></jskatas-test-editor>
      <test-result></test-result>
      <pre class="assertion"></pre>
      <script>
        expectations.push((hasPassed , message) => {
          return hasPassed;
        });
      </script>
    </div>
  </article>
  
  <article>
    <h3>Simple fail</h3>
    <p></p>
    <div>
      <success>⏳</success>
      <jskatas-test-editor><!-- htmlmin:ignore -->assert(false);<!-- htmlmin:ignore --></jskatas-test-editor>
      <test-result></test-result>
      <pre class="assertion"></pre>
      <script>
        expectations.push((hasPassed , message) => {
          return message.includes('false == true');
        });
      </script>
    </div>
  </article>

  <article>
    <h3>Syntax error</h3>
    <p>Any syntax error shall be reported, so the user can react.</p>
    <div>
      <success>⏳</success>
      <jskatas-test-editor><!-- htmlmin:ignore -->assert(true<!-- htmlmin:ignore --></jskatas-test-editor>
      <test-result></test-result>
      <pre class="assertion"></pre>
      <script>
        expectations.push((hasPassed , message) => {
          return message.includes('SyntaxError');
        });
      </script>
    </div>
  </article>

  <article>
    <h3>Missing function</h3>
    <p>This should just show a one-liner as error, not the entire error JSON (which used to be the case!).</p>
    <div>
      <success>⏳</success>
      <jskatas-test-editor><!-- htmlmin:ignore -->fn__();<!-- htmlmin:ignore --></jskatas-test-editor>
      <test-result></test-result>
      <pre class="assertion"></pre>
      <script>
        expectations.push((hasPassed , message) => {
          const chromiumError = message === 'fn__ is not defined';
          const webkitError = message === 'Can\'t find variable: fn__';
          return chromiumError || webkitError;
        });
      </script>
    </div>
  </article>

  <h2>Promises</h2>
  <article>
    <h3>Pending Promise</h3>
    <p>Should report back "pending promise" in the message</p>
    <div>
      <success>⏳</success>
      <jskatas-test-editor>
        <!-- htmlmin:ignore -->
        await new Promise((resolve) => {});<!-- htmlmin:ignore --></jskatas-test-editor>
      <test-result></test-result>
      <pre class="assertion"></pre>
      <script>
        expectations.push((hasPassed , message) => {
          return message.includes('Promise is pending');
        });
      </script>
    </div>
  </article>
  
  <article>
    <h3>Pending promise with `{"topLevelAwait": true}` runner config</h3>
    <p>The runner-option `{"topLevelAwait": true}` I introduced for the nodejs worker, looks not too useful in the browser but still needs to be handled right.</p>
    <div>
      <success>⏳</success>
      <jskatas-test-editor>
        <!-- htmlmin:ignore -->
        //: {"jskatas": {"runnerOptions": {"topLevelAwait": true}}}
        let promise = new Promise((resolve) => {
          
        });
        await assert.doesNotReject(promise);<!-- htmlmin:ignore --></jskatas-test-editor>
      <test-result></test-result>
      <pre class="assertion"></pre>
      <script>
        expectations.push((hasPassed , message) => {
          return message.includes('Promise is pending');
        });
      </script>
    </div>
  </article>
  
  <h2>Runner option: `runGivenCodeOnly`</h2>
  <article>
    <h3>Runner option: `runGivenCodeOnly`</h3>
    <p>This should run the given code without wrapping anything around it.</p>
    <div>
      <success>⏳</success>
      <jskatas-test-editor>
        <!-- htmlmin:ignore -->
        //: {"jskatas": {"runnerOptions": {"runGivenCodeOnly": true}}}
        'use strict';
        undefinedVar = 1; // This throws in strict mode!<!-- htmlmin:ignore --></jskatas-test-editor>
      <test-result></test-result>
      <pre class="assertion"></pre>
      <script>
        expectations.push((hasPassed , message) => {
          const chromiumError = message.includes('ReferenceError: undefinedVar is not defined');
          const webkitError = message.includes('Can\'t find variable: undefinedVar');
          const firefoxError = message.includes('ReferenceError: assignment to undeclared variable undefinedVar');
          return false === hasPassed && (chromiumError || webkitError || firefoxError);
        });
      </script>
    </div>
  </article>
  
  <article>
    <h3>Runner option: `runGivenCodeOnly` and ONLY "use strict"</h3>
    <p></p>
    <div>
      <success>⏳</success>
      <jskatas-test-editor>
        <!-- htmlmin:ignore -->
        //: {"jskatas": {"runnerOptions": {"runGivenCodeOnly": true}}}
        'use strict';<!-- htmlmin:ignore --></jskatas-test-editor>
      <test-result></test-result>
      <pre class="assertion"></pre>
      <script>
        expectations.push((hasPassed , message) => {
          return hasPassed;
        });
      </script>
    </div>
  </article>

  <h2>Runner option `runGivenCodeOnly` +  `type=module`</h2>
  <article>
    <h3>Allow to use `import`</h3>
    <p>For using import in a kata `{"runGivenCodeOnly": true, "type": "module"}` must be set.</p>
    <div>
      <success>⏳</success>
      <jskatas-test-editor>
        <!-- htmlmin:ignore -->
        //: {"jskatas": {"runnerOptions": {"runGivenCodeOnly": true, "type": "module"}}}
        import assert from 'https://jskatas.org/assert.esm.js';
        import {equal as myEqual} from 'https://jskatas.org/assert.esm.js';
        assert.strictEqual(myEqual, assert.equal);<!-- htmlmin:ignore --></jskatas-test-editor>
      <test-result></test-result>
      <pre class="assertion"></pre>
      <script>
        expectations.push((hasPassed , message) => {
          return hasPassed;
        });
      </script>
    </div>
  </article>

  <h2>Runner option `strictMode`</h2>
  <article>
    <h3>Turn OFF strict mode</h3>
    <p>When strict mode is turned off, variables can be defined without `var` or `const` or `let`</p>
    <div>
      <success>⏳</success>
      <jskatas-test-editor>
        <!-- htmlmin:ignore -->
        //: {"jskatas": {"runnerOptions": {"strictMode": false}}}
        undefinedVar = 1;<!-- htmlmin:ignore --></jskatas-test-editor>
      <test-result></test-result>
      <pre class="assertion"></pre>
      <script>
        expectations.push((hasPassed , message) => {
          return hasPassed;
        });
      </script>
    </div>
  </article>

  <article>
    <h3>Turn ON strict mode</h3>
    <p>As opposed to the test case above, when strict mode is on (which is default) assigning a value to an undefined var throws.
      Ia m not adding <code>//: {"jskatas": {"runnerOptions": {"strictMode": false}}}</code> because strict mode is the default.
    </p>
    <div>
      <success>⏳</success>
      <jskatas-test-editor>
        <!-- htmlmin:ignore -->
        undefinedVar = 1;<!-- htmlmin:ignore --></jskatas-test-editor>
      <test-result></test-result>
      <pre class="assertion"></pre>
      <script>
        expectations.push((hasPassed , message) => {
          const chromiumError = message.includes('undefinedVar is not defined');
          const webkitError = message.includes('Can\'t find variable: undefinedVar');
          const firefoxError = message.includes('assignment to undeclared variable undefinedVar');
          return false === hasPassed && (chromiumError || webkitError || firefoxError);
        });
      </script>
    </div>
  </article>

{% endblock %}

{% block sidebar %}
{% endblock %}
