{% extends "_empty.njk.html" %}

{% block pagename %}jschronicle{% endblock %}
{% block canonicalUrl %}https://{{ site.domain }}/jschronicle/{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/katas/kata.css" type="text/css">
  <link rel="stylesheet" href="jschronicle.css" type="text/css">
{% endblock %}

{% import "_parts.njk.html" as parts %}
{% block body %}
  <header>
    <a class="sitename" href="/">
      <span style="color: var(--color-foreground-highlight-2nd)">js</span>katas.org
      <span class="subtitle">
        {{ site.subtitle }}
      </span>
    </a>
    {{ parts.primaryNavigation(navigationItems) }}
  </header>

  <style>
    :root {
      --header-height: 5rem;
      --header-margin-bottom: var(--spacing-large);
      --page-padding: var(--spacing-large);
      --page-margin: var(--spacing-large);
      
      --main-color: red;
      --secondary-color: #3a34a7;
      
      --page-font-size-small: var(--font-size-medium);
      --page-font-size-medium: var(--font-size-huge);
      --page-font-size-large: var(--font-size-hugest);
      --page-font-size-huge: 20vw;
      
      /*--main-color: #f47c7c; !* (A vibrant pinkish-red, adding energy to the palette) *!*/
      /*--secondary-color: #f7f48b; !* (A bright, sunny yellow for a lively contrast) *!*/
      /*--accent-color: #a1de93; !* (A fresh green to complement and balance the vibrancy) *!*/
      /*--main-color: #c68b59; !*(A warm, earthy tone that complements your existing highlight colors) *!*/
      /*--secondary-color: #ffd6a5; !*(A lighter, softer tone to provide contrast and readability) *!*/
      /*--accent-color: #8a5343; !*(A darker shade for emphasis and depth) *!*/
    }
    @media screen and (max-width: 600px) {
      :root {
        --page-font-size-small: var(--font-size-medium);
        --page-font-size-medium: var(--font-size-medium);
        --page-font-size-large: var(--font-size-medium);
        --page-font-size-huge: var(--font-size-medium);
      }
    }
    
    html {
      scroll-behavior: smooth;
      scroll-padding-top: calc(var(--header-height) + var(--header-margin-bottom));
    }
    body {
      margin: 0;
    }
    header {
      position: sticky;
      top: 0;
      z-index: 100;
      height: var(--header-height);
      align-items: center;
      margin-bottom: var(--header-margin-bottom);
    }
    page {
      background: #EDEDED;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: calc(2 * var(--page-padding));
      position: relative;
      height: auto;
    }
    page.fullpage {
      height: calc(100vh - var(--header-height) - var(--header-margin-bottom) - 4 * var(--page-padding));
    }
    @media screen and (max-width: 600px) {
      page {
        padding: var(--page-padding);
      }
    }    
    page.alt-style {
      background: var(--color-foreground-2nd);
    }
    page.alt-style * {
      color: white;
    }
    page.alt-style2 {
      background: var(--color-foreground-highlight-3rd);
    }
      
    page h1 {
        font-size: var(--font-size-hugest);
        margin: var(--spacing-large) 0;
      }
    page h1 subtitle {
      display: block;
      font-weight: normal;
      font-size: var(--font-size-medium);
    }
    page p {
        font-size: var(--page-font-size-large);
        line-height: 1.5;
        text-align: center;
      }
    @media screen and (max-width: 600px) {
      page h1, page p {
        font-size: var(--font-size-medium);
      }
    }    
    page a {
        color: var(--color-foreground-main);
        text-decoration-color: transparent;
        box-shadow: inset 0 -0.1em 0 var(--color-foreground-highlight-2nd), 0 0.1em 0 var(--color-foreground-highlight-2nd);
      }
    page a:hover {
        text-decoration-color: var(--color-foreground-highlight-2nd);
        box-shadow: inset 0 -1.2em 0 var(--color-foreground-highlight-2nd), 0 2px 0 var(--color-foreground-highlight-2nd);
      }
      
    page bar {
        height: auto;
        border: 0;
      }
    page circle, line {
        background: var(--color-foreground-main);
      }
    page circle.main {
        background: var(--main-color);
        --_size: 1rem;
      }
    page circle.secondary {
        background: var(--secondary-color);
        --_size: 1rem;
      }
    page text {
        font-size: var(--font-size-large);
      }
      
    page guide {
        display: block;
      }
    page guide a {
          width: 3rem;
          height: 3rem;
          text-align: center;
          border: 2px solid var(--color-foreground-main);
          border-radius: 50%;
          position: absolute;
          font-size: 2rem;
          left: 50%;
          opacity: 0;
          transform: translateX(-50%);
          animation: fadeInSlideIn 1s ease var(--delay) forwards, bounce 1s ease var(--delay) 2;
        }
      
    page .page-link {
      box-shadow: none;
      opacity: 0.3;
      position: absolute;
      right: 0;
      top: 0;
      font-size: var(--font-size-large);
      margin: var(--spacing-large);
    }
    page .page-link:hover {
      opacity: 1;
      box-shadow: none;
    }
    
    @keyframes fadeIn {
        from { opacity: 0.5; }
        to { opacity: 1; }
    }
    @keyframes blurOut {
        from { filter: blur(0.8rem); }
        to { filter: blur(0); }
    }
    @keyframes fadeInSlideIn {
        from { bottom: 10rem; opacity: 0; }
        to { bottom: 1rem; opacity: 1; }
    }
    @keyframes bounce {
        0%, 100% { transform: translateX(-50%) translateY(0); }
        20% { transform: translateX(-50%) translateY(-20px); }
    }
  </style>

  {% macro yearOutput(year, loop) %}
    {% if year % 5 == 0 or loop.last or loop.first %}
      {{ year }}
    {% else %}
       &nbsp;
    {% endif %}
  {% endmacro %}

  <page id="page-after-cobol" class="alt-style fullpage">
    <a class="page-link" href="#page-after-cobol">#</a>
    <p>
      {{ "JavaScript, a high-level programming language." | mdToHtml | safe }}
    </p>
    
    <img src="/js-logo.svg" alt="JavaScript Logo" style="width: 20rem; margin: 0 auto;">
    
    <p>
      {{ "Created 59 years after the first  
      high-level programming language [COBOL](https://en.m.wikipedia.org/wiki/COBOL)." | mdToHtml | safe }}
    </p>
    
    <guide>
      <a href="#page1" style="--delay: 6s;">&downarrow;</a>
    </guide>
  </page>

  <page id="page1" class="fullpage">
    <a class="page-link" href="#page1">#</a>
    <h1>
      JS Chronicle
      <subtitle>A short journey through JS from it's beginning.</subtitle>
    </h1>
    
    <bar>
      <line></line>
      {% for year in yearsSinceJsWasBorn %}
        <year class="{{year}}">
          <circle {% if year == 1995 %}class="main"{% endif %}></circle>
          <text>
            <br></br>{{ yearOutput(year, loop) }}
          </text>
        </year>
      {% endfor %}
    </bar>
    
    <guide>
      <a href="#page-first-browser" style="--delay: 6s;">&downarrow;</a>
    </guide>
  </page>
    
    {# #############

      The birth of the internet and web browser

    ############## #}

  <style>
    table.timeline tr {
      font-size: var(--font-size-large);
    }
    table.timeline td {
      background: none;
      vertical-align: top;
    }
    table.timeline td links {
      display: block;
      font-size: var(--font-size-medium);
    }
    table.timeline td img {
      width: 100%;
      max-height: 5vw;
      object-fit: cover;
    }
    @media screen and (max-width: 600px) {
      table.timeline td img {
        min-width: 10vw;
      }
    }
    table.timeline td:first-of-type {
      white-space: nowrap;
      vertical-align: top;
      font-weight: bold;
    }
    table.timeline tr td:last-of-type {
      text-align: left;
    }
    dialog img {
      width: 90vw;
      height: 90vh;
      object-fit: contain;
      margin: 5vh 5vw;
    }
  </style>
  <page id="page-first-browser" style="padding-bottom: 0;">
    <a class="page-link" href="#page-first-browser">#</a>

    <h1>A bit Browser History
      <subtitle>JavaScript was created for web scripting.
        <br>
        But <strong>when did the history of browsers begin</strong>, making JavaScript necessary?</subtitle>
    </h1>

    <script>
      const showImageInModalDialog = (el) => {
        const $dialog = document.createElement('dialog');
        $dialog.style = `
          width: 100vw;
          height: 100vh;
          background: rgba(0,0,0,0.5);
        `;
        $dialog.appendChild(el.cloneNode(true));
        $dialog.querySelector('picture').onclick = () => {};
        $dialog.addEventListener('click', () => $dialog.close());
        document.body.appendChild($dialog);
        $dialog.showModal();
      }
    </script>
    
    <table class="timeline">
      <tr>
        <td>1989</td>
        <td>
          <picture onclick="showImageInModalDialog(this)">
            <img src="./images/internet-proposal.gif" alt="Tim Berners-Lee's proposal for the internet">
          </picture>
        </td>
        <td>
          {{ "**[Tim Berners-Lee](https://www.w3.org/People/Berners-Lee/) [proposed](https://info.cern.ch/Proposal.html) the internet**" | mdToHtml | safe }}
          <links>
            {{ "More details about the proposal [on w3.org](https://www.w3.org/History/1989/proposal.html)" | mdToHtml | safe }}
          </links>
        </td>
      </tr>
      
      <tr>
        <td>1990</td>
        <td>
          <picture onclick="showImageInModalDialog(this)">
            <source srcset="./images/WorldWideWeb-browser.webp" type="image/webp">
            <img src="./images/WorldWideWeb-browser.gif" alt="Tim Berners-Lee's WorldWideWeb browser">
          </picture>
        </td>
        <td>
          {{ "**The first web browser [WorldWideWeb](https://en.wikipedia.org/wiki/WorldWideWeb)**  
           Later it was renamed to Nexus. It only ran on the NeXT platform." | mdToHtml | safe }}
          <links>
            {{ "[Image source](https://www.w3.org/People/Berners-Lee/FAQ.html#browser), [browser source code](https://www.w3.org/History/1991-WWW-NeXT/Implementation/)" | mdToHtml | safe }}
          </links>
        </td>
      </tr>
      
      <tr>
        <td>1991</td>
        <td>
          <picture onclick="showImageInModalDialog(this)">
            <source srcset="./images/Line_Mode_Browser_Wikipedia.webp" type="image/webp">
            <source srcset="./images/Line_Mode_Browser_Wikipedia.avif" type="image/avif">
            <img src="./images/Line_Mode_Browser_Wikipedia.png" alt="Line Mode Browser">
          </picture>
        </td>
        <td>
          {{ "**[Nicola Pellow](https://en.wikipedia.org/wiki/Nicola_Pellow)'s [Line Mode Browser](https://www.w3.org/LineMode/)**   
          The first cross-platform browser from the CERN, written in C.  
          It displayed text only, no images and ran on the command line." | mdToHtml | safe }}
          <links>
            {{ "[Image source](https://en.wikipedia.org/wiki/Line_Mode_Browser)" | mdToHtml | safe }}
          </links>
        </td>
      </tr>
      
      <tr>
        <td></td>
        <td>
          <picture onclick="showImageInModalDialog(this)">
            <source srcset="./images/erwise.avif" type="image/avif">
            <img src="./images/erwise.jpg" alt="Erwise browser">
          </picture>
        </td>
        <td>
          {{ "**Erwise \"the first graphical web browser\"**.  
          Developed by four Finnish students." | mdToHtml | safe }}
          <links>
            {{ "[Image source](https://www.osnews.com/story/21076/the-worlds-first-graphical-browser-erwise/)" | mdToHtml | safe }}
          </links>
        </td>
      </tr>
      
      <tr>
        <td>1993</td>
        <td>
          <picture onclick="showImageInModalDialog(this)">
            <img src="./images/Amosaic-mosaic.png" alt="AMosaic Amiga Web browser">
          </picture>
        </td>
        <td>
          {{ "**NCSA Mosaic was released**.  
          A cross-platform browser with a GUI, for AmigaOS, Classic Mac OS, Unix, OpenVMS, OS/2, Microsoft Windows.
          This browser was the base for the successful Netscape." | mdToHtml | safe }}
          <links>
            {{ "[Details](https://en.wikipedia.org/wiki/Mosaic_(web_browser))" | mdToHtml | safe }}
            {{ "[Image source](http://blog.a-eon.biz/blog/index.php/2012/07/18/just-browsing/)" | mdToHtml | safe }}
          </links>
        </td>
      </tr>
      
      <tr>
        <td>1994</td>
        <td>
          <picture onclick="showImageInModalDialog(this)">
            <img src="./images/netscape-navigator-1-0-01.png" alt="Netscape Navigator 1.0">
          </picture>
        </td>
        <td>
          {{ "**Netscape Navigator 1.0 was announced**  
          The first free but commercial web browser." | mdToHtml | safe }}
          <links>
            {{ "Image source [and many more](https://www.webdesignmuseum.org/software/netscape-navigator-1-0-in-1994)" | mdToHtml | safe }}
          </links>
        </td>
      </tr>
      
      <tr style="background: var(--color-foreground-highlight-3rd)">
        <td>1995</td>
        <td>
          <picture onclick="showImageInModalDialog(this)">
            <img src="/js-logo.svg" alt="The JavaScript logo, created around 2011" style="width: auto; border: 1px solid black; box-shadow: 2px 2px 3px black;">
          </picture>
        </td>
        <td>
          {{ "**Netscape Navigator 2.0 ships JavaScript**  
          The initial version of JavaScript is in the beta of Netscape Navigator 2.0." | mdToHtml | safe }}
          <links>
            {{ "The JS logo was created around 2011 [source is here](https://github.com/voodootikigod/logo.js/blob/1544bdeed/js.svg)" | mdToHtml | safe }}
          </links>
        </td>
      </tr>

{#      <tr>#}
{#        <td colspan="10" style="text-align: center">#}
{#          {{ "More in [What were the first WWW browsers?](https://www.w3.org/People/Berners-Lee/FAQ.html#browser) from Tim Berners-Lee himself." | mdToHtml | safe }}#}
{#        </td>#}
{#      </tr>#}
    </table>
  </page>
    
  {# #############
    JavaScript before and until it is first announced and released 
    ############## #}
    
  <page id="page-js-birth" class="alt-style2 fullpage">
    <a class="page-link" href="#page-js-birth">#</a>
    
    <p>
      {{ "JavaScript was implemented in May 1995 and
      [announced](https://web.archive.org/web/20070916144913/https://wp.netscape.com/newsref/pr/newsrelease67.html) December 4th 1995." | mdToHtml | safe }}
    </p>
    
    <p>
      {{ "After Brendan Eich created it in ten days.  
      [(Brendan Eich believes it was May 6–15)](http://www.wirfs-brock.com/allen/jshopl.pdf)" | mdToHtml | safe }}
    </p>
    
{#    <p>#}
{#      #}
{#      JavaScript was implemented in May 1995 and#}
{#               [announced](https://web.archive.org/web/20070916144913/https://wp.netscape.com/newsref/pr/newsrelease67.html) December 4th 1995.#}
{#      #}
{#      After Brendan Eich created it in ten days. (Brendan Eich believes it was May 6–15) [http://www.wirfs-brock.com/allen/jshopl.pdf]#}
{#      #}
{#      First, Brendan Eich was expecting to implement Scheme in the browser, but the strategy changed to implement a "little language" [1]#}
{#      which should serve as a glue language to give HTML a dynamic flavour and write it write into HTML.#}
{#      #}
{#      [1] https://chreke.com/little-languages.html#}
{#      #}
{#      focus for the summer 1995 was to more fully integrate Mocha into the browser. This would require designing and implementing the APIs that enabled Mocha programs to interact with Web pages.#}
{#      source code: https://github.com/m1t0s1s/netscape-communicator-3-0-2-source/tree/main/mocha#}
{#      #}
{#      In the announcement the plan to standardized was mentioned: #}
{#    #}
{#      <blockquote>#}
{#        Netscape and Sun plan to propose JavaScript to the W3 Consortium (W3C) and the Internet Engineering Task Force (IETF) as an open Internet scripting language standard.#}
{#      </blockquote>#}
{#    #}
{#      Microsoft reverse-engineered its JavaScript engine, which led to some incompatibilities.#}
{#    </p>#}
{#    #}
{#    <guide>#}
{#      <a href="#page-es1" style="--delay: 6s;">&downarrow;</a>#}
{#    </guide>#}
  </page>

  {# #############
    ES1 Spec 
  ############## #}

{#  <page id="page-org-names">#}
{#    Early code-name "Mocha"#}
{#    JavaScript#}
{#    ECMAScript#}
{#    ECMA-262#}
{#    TC39 (Technical Committee 39)#}
{#    TC39-TG1 (Task Group 1) was assigned with responsibility for ECMAScript#}
{#    Test-262#}
{#  </page>#}

  <page id="page-es1" class="alt-style">
    <a class="page-link" href="#page-es1">#</a>
    
    <p>
      {{ "**In 1997** the \"official\" journey of JavaScript began, with its 
      [first specification](https://www.ecma-international.org/wp-content/uploads/ECMA-262_1st_edition_june_1997.pdf)" | mdToHtml | safe }}
      <br>
      <span style="opacity: 0.5;">(also known as ECMAScript 1 or ES1)</span>.
      <br><br>
    </p>
    
    <h1 style="font-size: 20vw; line-height: 0.8;">
      ES1
    </h1>
    
    <bar>
      <line></line>
      {% for year in yearsSinceJsWasBorn %}
        <year class="{{year}}">
          <circle 
            {% if year == 1997 %}class="main"{% endif %}
          ></circle>
          <text>
            {% if year == 1997 %}ES1{% endif %}
            <br></br>{% if year == 1997 %}{{ year }}{% else %}{{ yearOutput(year, loop) }}{% endif %}
          </text>
        </year>
      {% endfor %}
    </bar>
    
    <p>
      <br><br>
      <span style="opacity: 0.5;">The official title of the specification is:</span>
      <br>
      ECMAScript: A general purpose,
      cross-platform programming
      language
    </p>
    
  </page>

{#  <page id="page-es1-spec">#}
{#    <p>The specification started out to have been written#}
{#      in different editors, #}
{#      was originally written in Microsoft Word, it </p>#}
{#  </page>#}

{#  <page id="page-es1-spec">#}
{#    <a class="page-link" href="#page-es1-spec">#</a>#}
{#    #}
{#    <p>#}
{#      In 1996, the standardization process for JavaScript was begun#}
{#      [1] http://www.wirfs-brock.com/allen/jshopl.pdf#}
{#    </p>#}
{#    <p>#}
{#      <strong>In 1997</strong> the &quot;official&quot; journey of JavaScript #}
{#      began, with its first specification (also known as ECMAScript 1 or ES1).#}
{#      #}
{#      A first draft ready for the next meeting in January 1997, a final draft in April 1997, and#}
{#      targeting approval of the standard by the Ecma General Assembly in June 1997#}
{#    </p>    #}

{#    <bar>#}
{#      <line></line>#}
{#      {% for year in yearsSinceJsWasBorn %}#}
{#        <year class="{{year}}">#}
{#          <circle #}
{#            {% if year == 1995 or year == 1997 or year == 2023 %}class="main"{% endif %}#}
{#          ></circle>#}
{#          <text>#}
{#            {% if year == 1997 %}ES1{% endif %}#}
{#            <br></br>{% if year == 1997 %}{{ year }}{% else %}{{ yearOutput(year, loop) }}{% endif %}#}
{#          </text>#}
{#        </year>#}
{#      {% endfor %}#}
{#    </bar>#}

{#    <p>#}
{#      {{ "**In 2023** the 14th edition made its debut. " | mdToHtml | safe }}#}
{#    </p>#}
{#    #}
{#    <guide>#}
{#      <a href="#page-es6" style="--delay: 6s;">&downarrow;</a>#}
{#    </guide>#}
{#  </page>#}

{#  <page id="page-version-names">#}
{#    With ES6/ES2015#}
{#    Also: Harmony, ES.next#}
{#    #}
{#    The names start to include the year, for example,#}
{#    <br>#}
{#    ES2016 in 2016, ES2017 in 2017, and so on.#}
{#    #}
{#  </page>#}


  <page id="page-es1-details">
    <a class="page-link" href="#page-es1-details">#</a>
    <p>
      ES1 started with nine built-ins,
      <br>
      called 'Native ECMAScript Objects'.
    </p>
    <p>
      {{ "`Array`, `Boolean`, `Date`, `Function`,  
      `Math`, `Number`, `Object`, `String`  
      and seven global functions." | mdToHtml | safe }}  
    </p>
    
  </page>

      
{#
  <page id="page-no-new-editions">
    <p>
      {{ "The years **without a new edition** were" | mdToHtml | safe }}
    </p>

    <bar>
      <line></line>
      {% for year in yearsSinceJsWasBorn %}
        {% set isSkipYear = (year == 1995 or year == 1996) or ((year > 1999) and (year < 2011)) or (year > 2011 and year < 2015) %}
        <year class="{{year}}">
          <circle {% if isSkipYear %}class="main"{% endif %}></circle>
          <text>
            {% if year == 1997 %}ES1{% endif %}
            {% if year == 1998 %}2{% endif %}
            {% if year == 1999 %}3{% endif %}
            <br></br>{{ yearOutput(year, loop) }}
          </text>
        </year>
      {% endfor %}
    </bar>
    
    <p>
      {{ "**2000 until 2010** (11 years),  
      **2012 until 2014** (3 years)." | mdToHtml | safe }}
    </p>    
  </page>
#}

  <page id="page-4th-edition" class="alt-style" style="height: 60vh;">
    <a class="page-link" href="#page-4th-edition">#</a>
    <h1>
      The 4th Edition
    </h1>
    <p>
      never came about<br/>
      due to disagreements on the language evolution.
    </p>
  </page>

  
  <page id="page-es6" class="alt-style2" style="height: 60vh">
    <a class="page-link" href="#page-es6">#</a>
    <h1>
      ES6 – Game Changer
    </h1>
    
    <bar>
      <line></line>
      {% for year in yearsSinceJsWasBorn %}
        {% set esYear = (year == 1997 or year == 1998 or year == 1999 or year == 2011 or year == 2015) %}
        <year class="{{year}}">
          <circle 
            {% if year == 2015 %}style="background: var(--main-color); --_size: 1rem;"{% else %}
              {% if esYear or year > 2015 %}class="secondary"{% endif %}
            {% endif %}
          ></circle>
          <text>
            {% if year == 1997 %}ES1{% endif %}
            {% if year == 1998 %}2{% endif %}
            {% if year == 1999 %}3{% endif %}
            {% if year == 2011 %}ES5{% endif %}
            {% if year == 2015 %}ES6{% endif %}
            <br><br>{{ yearOutput(year, loop) }}
          </text>
        </year>
      {% endfor %}
    </bar>
    
    <p>
      {{ "**Since 2015** a new edition  
      is published each year!" | mdToHtml | safe }}
      <br><br>
      The names start to include the year, for example,
      <br>
      ES2016 in 2016, ES2017 in 2017, and so on.
      
    </p>
  </page>

  <style>
    page table.builtins {
      width: 70%; margin: auto;
    }
    @media screen and (max-width: 600px) {
      page table.builtins {
        width: 100%;
      }
    }
    page table.builtins td {
        display: flex;
        justify-content: space-between;
        
        border-width: 1px 0 1px 0;
        
        font-size: var(--font-size-large);
        background-image: linear-gradient(
          to right, 
          transparent var(--width1), 
          var(--main-color) var(--width1), 
          var(--main-color) calc(var(--width1) + var(--width2)),
          transparent calc(var(--width1) + var(--width2))
        );
        background-color: transparent;
      }
    @media screen and (max-width: 600px) {
      page table.builtins td {
        font-size: var(--font-size-medium);
        height: 1em; /*  Do not adapt to the built-ins that are inside a cell, that makes the td grow too much, on click they will be shown */
      }      
    }
    page table.builtins td names {
        flex: 1;
        text-align: center;
        font-size: var(--font-size-small);
        filter: blur(1rem);
      }
    page table.builtins td names:hover {
        transition: filter 1s ease;
        filter: blur(0);
      }
    page table.builtins tr:last-of-type td {
        justify-content: center;
        background: none;
      }
    
    page table.builtins .usage-hint {
      font-size: var(--font-size-medium);
    }
    @media screen and (max-width: 600px) {
      page table.builtins .usage-hint {
        font-size: var(--font-size-small);
      }
    }
  </style>
  <page id="page-esx-builtins" class="alt-style" style="height: auto;">
    <a class="page-link" href="#page-esx-builtins">#</a>
    <p>
      The Number of <strong>Built-ins</strong>
    </p>
    <table class="builtins">
      {% for version, data in builtinsByVersion %}
        <tr>
          <td style="--width1: {{ data.percent.existed }}%; --width2: {{ data.percent.added }}%">
            <span>{{ version }}</span> 
            <names>{{ data.addedNames | join(" ") }}</names>
            {% if data.added %}+{{ data.added }}{% endif %}
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td class="usage-hint" style="height: auto">
          ℹ️ Touch a row, to see the built-ins added that year.</td>
      </tr>
    </table>
    <p>
      Latest JS has {{ numBuiltins }} Built-ins.
      <div style="text-align: center" class="usage-hint">
        {{ "If you run `Object.keys(globalThis).length` in the browser console  
        the number might be far above 200, due to all the APIs a browser provides." | mdToHtml | safe }}
      </div>
    </p>
  </page>

  <style>
    page .words {
      overflow: scroll;
      font-size: max(0.8vh, 0.8vw);
      top: auto;
      left: auto;
      height: 80%;
      text-align: center;
      padding: var(--spacing-large)
    }
    page .words .esVersion > .name:hover ~ .object :first-child,
    page .words .object:hover {
      background: var(--color-foreground-highlight-3rd);
    }
    page .esVersion > .name {
      font-weight: bold;
      background: var(--color-foreground-highlight-2nd);
      font-size: 1.2em;
      overflow: visible;
      line-height: 0.8rem;
      vertical-align: middle;
      letter-spacing: 0.2rem;
      padding-left: 0.2rem;
    }
    page .object :first-child {
      color: var(--secondary-color)
    }

{#    
    input[type="range"][value="0.5"] ~ .words {
      font-size: calc(max(0.8vh, 0.8vw) * 0.5);
    }
    input[type="range"][value="0.6"] ~ .words {
      font-size: calc(max(0.8vh, 0.8vw) * 0.6);
    }
    input[type="range"][value="0.7"] ~ .words {
      font-size: calc(max(0.8vh, 0.8vw) * 0.7);
    }
#}
  </style>
  <page id="page-stats" style="height: auto;">
    <a class="page-link" href="#page-stats">#</a>
    <p>
      What was Added When?
{#      <div style="font-size: var(--font-size-medium)">
        {{ 42 }} methods and properties
      </div>
#}    
      <br>
      <script>
        let timer;
        const debounce = (func, delay=200) => {
          clearTimeout(timer);
          timer = setTimeout(func, delay);
        };
        const searchAllProps = (s) => debounce(() => markFoundProps(s));
        const markFoundProps = (searchString) => {
          // search all <span> tags and replace these that contain searchString with the string, where the searchString
          // is wrapped in <mark> tags.
          const spans = document.querySelectorAll('.words span.name');
          spans.forEach(span => {
            const text = span.innerText;
            if (text.toLowerCase().includes(searchString.toLowerCase())) {
              span.innerHTML = text.replace(searchString, `<mark>${searchString}</mark>`);
            } else {
              span.innerHTML = text;
            }
          });
        }
      </script>
{#    
      <input type="search" placeholder="find" oninput="searchAllProps(this.value)" style="font-size: var(--font-size-large); text-align: center; border-radius: 0.5rem; border: 0;">
#}
    </p>
    <p class="usage-hint">ℹ️ Use the mouse/touch to explore the data!</p>
    
    <div style="display: flex;">
{#      <input type="range" min="0" max="1" step="0.05" style="writing-mode: tb; flex: 0; height: 50%; align-self: center;"/>
      #}
      
      <div class="words" style="flex: 1; height: auto;">
        {% for esVersion, objects in all %}
          <span class="esVersion">
            <span class="name">{{ esVersion }}</span>
            {% for object, propNames in objects %}
              <span class="object">
                <span class="name">{{ object }}</span>
                {% for propName in propNames %}
                  <span class="name">{{ propName }}</span>
                {% endfor %}
              </span>
            {% endfor %}
          </span>
        {% endfor %}
      </div>
    </div>
  </page>

  <page id="page-more" class="alt-style2 fullpage">
    <a class="page-link" href="#page-more">#</a>
    <h1>
      You Want to Learn More?
    </h1>
    
    <p>
      I am Wolfram Kriesing.
      <br><br>
      Come to my workshop
      <br>
      <a href="https://www.alm.sh/academy/modern-javascript">Modern JavaScript Development</a>
      
{#      
      I run JavaScript workshops.
      <br>
      <br>
      Contact me <a href="https://www.linkedin.com/in/wolframkriesing/">Linkedin</a>
      or <a href="mailto:w+jschronicle@kriesing.de">e-mail me</a>.
#}      
    </p>
  </page>
    
  <page id="page-do-a-kata" class="alt-style">
    <a class="page-link" href="#page-do-a-kata">#</a>
    <h1>Or do a Kata...</h1>
    <p>
      Maybe the <a href="/katas/es6/language/number-api/isinteger/">Number.isInteger()</a> kata, for a start?
      <br><br>
      Or the <strong>more difficult</strong> <a href="/katas/es5/language/strict-mode/on-off/">strict mode</a> kata?
    </p>
  </page>

  <p style="padding: var(--page-padding); font-size: var(--font-size-small)">
    v1.2
  </p>

  {{ parts.pageFooter(navigationItems) }}

  <script>
    document.addEventListener("DOMContentLoaded", () => {
        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                  const pageId = entry.target.id;
                  plausible(`jsChronicle - ${pageId}`);
                }
            });
        }, { threshold: 0.5 });
    
        document.querySelectorAll('page[id]').forEach(page => {
            observer.observe(page);
        });
    });
  </script>
{% endblock %}

