table {
  border-spacing: 0;
  width: 95%;
  margin-left: 2%;
}
thead {
  background: #ddd;
}
thead th {
  text-align: left;
  padding: 1rem;
}
td {
  border: 1px solid transparent;
  padding: 0rem;
  margin: 0;
}
td:first-child {
  padding-left: 1rem;
}
table a {
  background: #EE7F00;
  padding: 0.1rem 1rem;
  color: white;
  margin: 0rem;
  white-space: nowrap
}
table button {
  font-size: inherit;
  color: white;
  margin: 0.2rem;
  border: 0;
}
table button.main-category {
  background: darkred;
}
table button.sub-category {
  background: darkgreen;
}
table button.level {
  background: black;
}


/* hover */
tr:hover td {
  background: #EEE;
  border-bottom: 1px solid #30544E;
  border-top: 1px solid #30544E;
}
tr:hover td:first-child {
  border-left: 1px solid #30544E;
}
tr:hover td:last-child {
  border-right: 1px solid #30544E;
}
tr:hover a {
  background: #30544E;
}
