:root {
  --distance-smaller: 0.1rem;
  --distance-small: 0.3rem;
  --distance-large: 1rem;
  --distance-larger: 1.5rem;

  --border-radius-small: var(--distance-small); /* Does this kinda think work? */

  --spacing-smaller: var(--distance-smaller);
  --spacing-small: 0.3rem;
  --spacing-medium: 0.5rem;
  --spacing-large: 1rem;
  --spacing-larger: 2rem;
  --spacing-big: 1rem; /* DEPRECATED name, use --spacing-large instead */
  --spacing-bigger: 2rem; /* DEPRECATED name, use --spacing-larger instead */

  --color-highlight: #A4131D;
  --color-highlight-rgb: 164, 19, 29;
  --color-highlight-lighter: rgba(var(--color-highlight-rgb), 0.1);
  --color-secondary: #666;
  --color-overlay: rgb(252, 232, 191);
  --color-overlay-lighter: rgba(252, 232, 191, 0.3);

  --readable-max-width: 50rem;
}

body {
  font-family: sans-serif;
  font-size: large;
  margin: 0;
}

main {
  width: 75vw;
  margin: auto;
}
@media screen and (max-width: 600px) {
  main {
    width: 90vw;
  }
}

a {
  color: var(--color-highlight);
}
a .code {
  font-family: monospace;
}
h2 {
  padding: var(--distance-large);
}
h2 .stats {
  display: block;
  color: var(--color-secondary);
  font-size: small;
  font-weight: normal;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  h1, h2, h3, h4 {
    text-align: center;
  }
}

.group {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 var(--distance-large) var(--distance-larger);
  padding: 0 var(--distance-large) var(--distance-large) var(--distance-large);
  background-color: var(--color-overlay-lighter)
}
  .group a {
    display: block;
  }
  .group h3 {
    margin: 0.2em 0;
    font-size: 1.1em;
  }
  @media screen and (max-width: 600px) {
    .group {
      display: block;
      margin-left: 0;
    }
  }

header,
footer {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

/* 
  header 
*/
header {
  text-align: center;
  margin-bottom: 1em;
}
  header h1, header p {
    display: inline;
  }
  header p {
    display: block;
    color: var(--color-secondary);
    margin-left: 2em;
  }
  @media screen and (max-width: 600px) {
    header h1, header p {
      display: block;
      text-align: center;
      margin: 1rem;
    }
  }

/* 
  footer
*/
footer {
  margin-top: 1em;
  padding: 2em;
  display: flex;
  font-size: small;
  background-color: var(--color-overlay);
}
  footer .highlight a {
    color: var(--color-highlight);
  }

  footer ul {
    flex-flow: column;
    flex: 1;
  }
  footer ul li {
    list-style: none;
    line-height: 2em;
  }
  footer .fa {
    width: 1.5em;
  }
  footer .disabled {
    text-decoration: line-through;
  }
  @media screen and (max-width: 600px) {
    footer {
      flex-direction: column;
    }
    footer ul {
      margin: 0;
      padding: 2rem;
      text-align: center;
    }
  }
  
  
  
  
  
.group .kata .details {
  display: none;
  position: absolute;
  margin: 0.5em;
  padding: 0.5em;
}
.group .kata {
  display: flex;
  margin-top: var(--distance-small);
}
  .kata:hover a {
    background: var(--color-overlay);
  }
  
  .group .kata:hover .details {
    display: block;
    position: absolute;
    margin: 0;
    margin-top: 1.2rem;
    margin-left: 2rem;
    z-index: 1;
    background: var(--color-overlay);
    box-shadow: 5px 5px 5px var(--color-highlight-lighter);
  }
  .kata.unpublished a {
    opacity: 0.3;
  }

.notification-bubble {
  position: absolute;
  margin-left: -3em;
  margin-top: -0.3rem;
  padding: 0 0.3rem;
  font-size: 0.8em;
  font-family: sans-serif;
  font-weight: bold;
  background-color: var(--color-overlay);
  box-shadow: 3px 3px 3px lightgrey;
}
  .notification-bubble.new {
    color: darkred;
  }
  .notification-bubble.unpublished {
    color: black;
  }
  .notification-bubble.easy {
    color: darkgreen;
  }

main .filter {
  margin-left: 1rem;
}
label.filter {
  margin-left: var(--distance-small);
  cursor: pointer;
}
input.filter[type=checkbox] {
}
  input.filter[type=checkbox]:checked {
    background-color: var(--color-highlight);
  }
  input.filter[type=checkbox]:checked + label {
    color: var(--color-highlight);
    text-decoration: underline;
  }

  input.filter[type=checkbox] ~ * .group.noPublishedKatas,
  input.filter[type=checkbox] ~ * .group .kata.unpublished {
    display: none;
  }
  input.filter[type=checkbox]:checked ~ * .group.noPublishedKatas {
    display: inline-block;
  }
  input.filter[type=checkbox]:checked ~ * .group .kata.unpublished {
    display: flex;
  }
